@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";


.app {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
  font: var(--font-m);
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  color: var(--text-redesigned);
  font: var( --font-m-redesigned);
}

.content-page {
  display: flex;
}

