.Sidebar {
  position: relative;
  height: 100%;
  width: 220px;
  background: var(--light-bg-redesigned);
  border-radius: 32px;
  transition: width ease 0.2s;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.link {
  margin-left: 10px;
  opacity: 1;
  color:var(--inverted-primary-color); 
  width:0;
}

.icon {
  fill: var(--inverted-primary-color);
}

.switchers {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
}

.collapseBtn {
  position: absolute;
  right: 0;
  top:50%;
  transform: rotate(90deg);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .items {
    margin-left: 0;
    justify-content: center;
    width:100%;
  }

  .link{
    opacity: 0;
    transition: all ease 0.2s;
  }

  .collapseBtn {
    right:initial;
    transform: rotate(270deg);
  }
}

.languageSwitcherContainer {
  padding: 10px;
}


