.Popup {
  position: relative;
}


.bottomLeft {
  top: 100%;
  right: 0%;
}

.bottomRight {
  top: 100%;
  left: 0%;
}

.topLeft {
  bottom: 100%;
  right: 0%;
}

.topRight {
  bottom: 100%;
  left: 0%;
}
