.HListBox {
  position: relative;
}

.options {
  z-index: 10000;
  position: absolute;
  background-color: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  padding: 10px 20px;
}

.activeItem {
  background-color: var(--inverted-primary-color);
}

.disabledItem{
  opacity: 0.5;
}

.directionUp {
  bottom: 100%;
}
