.StickyLayout {
  position: relative;
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
  padding-top: 32px;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 0 16px;
}

.right {
  grid-area: right;
}

.left, .right{
  height: fit-content;
  position: sticky;
  top:32px;
}
