.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #642261;
  --secondary-color: #2c1f2b;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #415d41;
}
