.app_light_ui_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #642261;
  --secondary-color: #2c1f2b;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #415d41;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code component
  --code-bg: #fff;

  // card
  --card-bg: #f4f4f8;

  // listbox
  --listbox-bg: #f4f4f8;
}
