.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.appName{
  width: calc(var(--sidebar-width) - 16px - 20px);
}

.actions,
.links {
  margin-left: auto;
}

.notificationIcon {
  cursor: pointer;
}

.notifications {
  padding: 20px;
  width: 500px;
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
}

