.Button {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text-redesigned);

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.outline {
  background: none;
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;

  &:hover:not(:disabled){
    border-color: var(--accent-redesigned);
  }
}

.square {
  padding: 0;
}

.filled{
  background: var(--light-bg-redesigned);
  border-radius: 34px;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.max{
  width: 100%;
}

.addonLeft, .addonRight {
  display: flex;

  svg {
    fill:var(--hint-redesigned)
  }
}


