.normal {
  background-color: var(--dark-bg-redesigned);
}

.outline {
  border: 1px solid var(--accent-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}


.max {
  width: 100%;
}

.padding0 {
  padding: 0;
}

.padding8 {
  padding: 8px;
}

.padding16 {
  padding: 16px;
}

.padding24 {
  padding: 24px;
}

.borderNormal {
  border-radius: 12px;
}

.borderRoundPartial{
  border-radius: 16;
}

.borderRound{
  border-radius: 40px;
}

