.star {
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;

  path:first-child {
    fill: none;
    stroke: var(--primary-color);
  }

  path:last-child {
    fill: none;
  }
}

.hovered,
.selected {
  path:first-child {
    // fill: none;
    stroke: var(--primary-color);
  }

  path:last-child {
    fill: var(--primary-color);
  }
}

.selected,
.disabled {
  cursor: default;
}
